.banner {
    @extend %rel;
    @include padding(280px 0 320px 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__content {
        h2 {
            @extend %text-600, %my-8, %hidden, %white-color;
            @include font-size(55px);

            @include breakpoint(xl) {
                @include font-size(65px);
                line-height: 74px;
            }

        }

        p {
            @extend %white-color, %mt-15;

            @include breakpoint(sm) {
                width: 88%;
            }
        }


    }

    &__image {
        @extend %abs, %bottom-0, %right-12;
    }

}