.breadcamb {

    @extend %bg-reno;
    background-position: right;

    @include padding(120px 0);

    @include breakpoint(xl) {
        @include padding(220px 0 80px 0);
        background-position: center;
        background-size: cover;
    }

    &__content {
        @extend %text-center;

        h3 {
            @extend %white-color;
        }

        nav {
            @extend %text-center;

            ol {
                @extend %justify-center;

                li {
                    @extend %text-capitalize, %rel;
                    z-index: 99;

                    a {
                        @extend %white-color, %text-none;
                    }

                    &.active {
                        color: #fff !important;
                    }

                    &::before {
                        color: #fff !important;
                    }
                }
            }
        }
    }
}