.footer {
    @extend %bg-reno, %bg-center, %bg-cover;

    @include breakpoint(xxxl) {
        @include padding-top(270px);
    }

    &__widgets {
        h6 {
            @extend %mb-35, %white-color;
        }

        .footer__logo {
            .logo {
                @extend %mb-30;
            }

            .text {
                p {
                    @extend %white-color;
                }
            }

            .socialicon {
                @extend %mt-30, %flex, %align-items-center;

                a {
                    @extend %mr-15, %white-color;
                    line-height: 35px;

                    &:last-child {
                        @extend %mr-0;
                    }

                    &:hover {
                        i {
                            @extend %color2;
                        }
                    }
                }
            }
        }

        .footer_services {
            @include breakpoint(sm) {
                padding-left: 60px;
            }

            ul {
                @extend %flex, %mp-0, %pl-0;
                flex-direction: column;
                gap: 18px;

                li {
                    @extend %list-none;

                    a {
                        @extend %text-none, %white-color, %ml-5;
                    }

                    i {
                        @extend %mr-10, %white-color, %transition;
                        @include font-size(15px);
                    }

                    &:hover {
                        i {
                            @extend %ml-5, %mr-5, %color2;
                        }

                        a {
                            @extend %color2;
                        }
                    }
                }
            }
        }

        .footer_contact {
            ul {
                @extend %pl-0;

                li {
                    @extend %list-none, %flex, %gap-15, %mb-22;

                    .text {
                        width: calc(100% - 50px);

                        span {
                            @extend %d-inline-block, %white-color;
                            line-height: 24px;

                            @include breakpoint(sm) {
                                width: 195px;
                            }
                        }
                    }

                    &:last-child {
                        @extend %mb-0;
                    }
                }
            }
        }

        .popular_gallery {
            .innerimg {
                @extend %b-radius-4;

                img {
                    @extend %wd-100, %b-radius-4;
                }
            }
        }
    }

    &__copyright {
        @extend %abs, %bottom-0, %left-0, %wd-100, %bg-black, %py-20;

        p {
            @extend %white-color, %text-center;

            i {
                @extend %mr-10;
            }
        }
    }

}