// header nav here
.header {
    @include breakpoint(xl) {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        position: absolute;
    }

    &__top {
        @extend %rel;

        @include breakpoint(max-xxxl) {
            overflow: hidden;
        }

        .left {
            ul {
                @include breakpoint(xl) {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    padding-left: 0;
                }

                li {
                    @extend %py-13;

                    @include breakpoint(xl) {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        gap: 13px;
                        padding-right: 25px;
                        margin-right: 25px;
                        border-right: 1px solid #EFEFEF;
                    }

                    &:last-child {

                        @include breakpoint(xl) {
                            border-right: none;
                        }
                    }

                    .icon {
                        @include breakpoint(xl) {
                            color: $color2;
                        }
                    }

                    .text {
                        p {

                            @include breakpoint(xl) {
                                font-family: $font1;
                                color: $color1;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

        .right {
            @include breakpoint(xl) {
                gap: 40px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            .social {
                ul {
                    @extend %pl-0, %flex, %mb-0;

                    li {
                        @extend %list-none, %px-12, %py-10;
                        border-right: 1px solid #EFEFEF;

                        a {
                            @extend %w-30, %h-30, %b-radius-15, %text-center, %d-inline-block;
                            background: #FAE2E4;
                            line-height: 30px;

                            i {
                                font-size: 14px;

                                @include breakpoint(xl) {
                                    color: $color2;
                                }
                            }
                        }

                        &:last-child {
                            @include breakpoint(max-xxxl) {
                                border: none;
                            }
                        }

                    }
                }
            }
        }

        &:after {
            @extend %abs, %bottom-0;
            width: 1400px;
            border-bottom: 1px solid #EFEFEF;

            @include breakpoint(xl) {
                left: -93px;
            }

            @include breakpoint(xxxl) {
                left: -52px;
            }
        }
    }

    &__bottom {
        @extend %bg-white;

        @include breakpoint(xl) {
            padding: 14px 0;
        }

        @include breakpoint(max-xl) {
            padding: 12px 0;
        }
    }

    &__menu {
        @extend %flex, %align-items-center, %gap-35;

        @include breakpoint(xl) {
            justify-content: flex-end;
        }

        nav {
            >ul {
                @extend %align-items-center, %mb-0, %justify-end, %mp-0, %pl-0;

                @include breakpoint(xl) {
                    display: flex;
                }

                li {
                    @extend %list-none, %p-rel;

                    a {
                        @extend %text-none, %d-block, %color1, %font1, %text-600, %font-size-16;
                        padding: 10px;

                        @include breakpoint(xl) {
                            @include padding(6px 18px);
                            display: inline-block;
                            padding: 22.5px 18px;
                        }

                    }

                    &:last-child {
                        @extend %pr-0;

                        a {
                            @extend %pr-0;
                        }
                    }

                    &.active2 {
                        a {
                            @extend %color2;
                        }
                    }

                    ul {
                        padding-left: 0;
                        left: 0;
                        @include transition(.5s);

                        @include breakpoint(xl) {
                            width: 250px;
                            position: absolute;
                            z-index: 1;
                            opacity: 0;
                            visibility: hidden;
                            background: #fff;
                            top: 150px;
                            box-shadow: 0px 4px 4px 0px rgba(229, 228, 228, 0.42);
                        }

                        @include breakpoint(max-xl) {
                            display: none;
                        }

                        li {
                            padding: 5px 10px;

                            @include breakpoint(xl) {
                                border-bottom: 1px solid #0054FC26;
                            }

                            a {
                                @extend %px-12, %d-inline-block, %py-5, %wd-100, %text-uppercase, %font1;
                            }

                            &:hover {
                                @include breakpoint(xl) {
                                    background: $color2;
                                }

                                a {
                                    @extend %white-color;
                                }
                            }

                            &.active {
                                @extend %bg2;

                                a {
                                    color: #fff;
                                }
                            }

                            &:last-child {
                                border: none;
                            }
                        }
                    }

                    &:hover {
                        ul {
                            top: 100%;

                            @include breakpoint(xl) {
                                visibility: visible;
                                opacity: 1;
                            }
                        }

                        >a {
                            color: #BE1E2D;
                        }

                    }

                }
            }
        }

    }

    &__mobilebar {
        @extend %flex, %justify-center, %bg2, %mr-50;
        @extend %w-60, %pointer, %h-60;
        margin-left: auto;
        line-height: 65px;

        i {
            @extend %white-color, %pointer;
            @include font-size(25px);
        }
    }

    &__cart {
        @extend %w-25;
        @extend %flex;
        @extend %p-rel;
        z-index: 9999;

        .carticon {
            z-index: 1;

            a {
                @extend %text-none;

                i {
                    @extend %color2;
                    @include font-size(20px);
                }
            }

            &:after {
                @extend %abs, %text-center;
                top: -15px;
                left: 5px;
                width: 20px;
                height: 20px;
                @extend %white-color;
                @include border-radius(10px);
                line-height: 20px;
                content: '3';
                background: $bg2;
                font-size: 14px;
            }
        }

        .cart-details {
            @include padding(20px 15px);
            @extend %bg-white, %abs, %flex, %align-items-center, %transition2;
            box-shadow: 0px 0px 10px rgba(212, 212, 212, .58);
            top: calc(100% + 30px);
            right: 30px;
            visibility: hidden;
            opacity: 0;
            z-index: 9999;

            &.cartopen {
                @include breakpoint(max-esmm) {
                    visibility: visible;
                    opacity: 1;
                    right: -70px;
                }
            }

            .close {
                margin-left: auto;

                i {
                    line-height: 25px;
                    @extend %w-25, %h-25, %bg2, %text-center;
                    @extend %pointer, %white-color;
                }
            }

            .item {
                @extend %flex, %align-items-center;
                width: 270px;
                gap: 18px;
                border-bottom: 1px solid #BE1E2D52;
                @extend %mb-15, %pb-15;

                .thumb {
                    width: 70px;
                }

                .right {
                    width: calc(100% - 88px);
                    @extend %flex, %align-items-center, %justify-between;

                    .text {
                        h6 {
                            @extend %mb-2;

                            a {
                                @include font-size(15px);
                                @extend %color1, %text-none;
                            }
                        }

                        p {
                            @extend %text-600, %color2;
                        }

                        span {
                            @extend %bg-black, %d-inline-block, %white-color;
                            @include font-size(11px);
                            @extend %w-70, %h-20, %text-center;
                            line-height: 20px;
                        }
                    }

                    .cros {
                        i {
                            @extend %pointer, %color2;
                        }
                    }
                }

                &:hover {
                    .right {
                        .text {
                            h6 {
                                a {
                                    @extend %color2;
                                }
                            }
                        }
                    }
                }
            }

            .total {
                @extend %flex, %align-items-center, %justify-between;
                width: 270px;

                .subtotal {
                    p {
                        @extend %text-600;

                        span {
                            @extend %color2, %text-600;
                        }
                    }
                }

                .checkout {
                    a {
                        @extend %d-inline-block, %text-none;
                        @include padding(5px 15px);
                        @extend %bg2, %text-600, %white-color;
                    }
                }
            }
        }

        @include breakpoint(esmm) {
            &:hover {
                .cart-details {
                    right: -50px;
                    right: 0;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    &__btn {
        .custom__btn {
            margin-top: 0 !important;
            background: $bg2;
            width: 200px;

            &:hover {
                box-shadow: none;
            }
        }
    }

    &__logo {
        @extend %ml-50;

        @include breakpoint(xl) {
            margin-left: 0px;
        }
    }

    &__fixed {
        .header__bottom {
            &.header-fixed {
                @extend %transition2;

                @include breakpoint(xl) {
                    background: #fff;
                    top: 0;
                    position: fixed;
                    max-width: inherit;
                    width: 100% !important;
                    z-index: 9999;
                    box-shadow: 1px 1px 11px 3px rgba(215, 215, 215, 0.4);
                    transition: all 0.5s ease;
                    padding: 20px 40px;
                }

            }

        }
    }

}

.tpoffcanvas {
    @extend %top-0, %bottom-0, %wd-100, %v-o-none, %bg-white, %px-15;
    box-shadow: 0px 4px 4px 0px rgba(229, 228, 228, 0.42);
    position: fixed;
    right: -100%;
    z-index: 999999;
    scrollbar-width: none;
    transition: 1s ease-in-out;
    overflow-y: scroll;

    @include breakpoint(sm) {
        width: 550px;
    }

    &.opened {
        @extend %right-0;
        -webkit-transition: all .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: all .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-duration: 1s;
    }

    &.opened {
        @extend %v-o-viseble;
    }

    &__body {
        padding: 0 30px;
    }

    &__logo {
        @extend %py-20;

        a {
            h5 {
                @extend %white-color;
            }
        }
    }

    &__close-btn {
        margin-left: auto;
        @extend %w-50, %h-50, %lheight-50, %text-center, %bg2;

        button {
            background: none;
            border: none;

            i {
                @include font-size(20px);
                @extend %white-color;
            }
        }
    }

    &__header {
        @extend %bg-white;
        border-bottom: 1px solid #EDF1F8;
    }

    .tp-main-menu-mobile {
        @include breakpoint(max-xl) {
            margin-top: 50px;
        }

        nav {
            @include breakpoint(max-xl) {
                width: 100%;
            }

            ul {
                li {
                    @include breakpoint(max-xl) {
                        width: 100%;
                        border-right: 1px solid #EDF1F8;
                        border-left: 1px solid #EDF1F8;
                        border-bottom: 1px solid #EDF1F8;
                    }

                    &:first-child {
                        border-top: 1px solid #EDF1F8;
                    }

                    a {

                        @include breakpoint(max-xl) {
                            display: block;
                            width: 100%;
                        }
                    }

                    ul {
                        @include breakpoint(max-xl) {
                            margin-top: 15px;
                        }

                        li {
                            border-left: none;
                            border-right: none;

                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }

    &__allimg {
        @extend %flex, %gap-5, %mt-40;

        a {
            img {
                @extend %w-75, %h-78;
            }
        }
    }

    &__contact {
        @extend %mt-40;

        h5 {
            @extend %mb-10;
        }

        ul {
            @extend %mp-0, %pl-0;

            li {
                @extend %list-none, %mb-8;

                a {
                    @extend %text-none, %color1;
                }

                &:last-child {
                    @extend %mb-0;
                }
            }
        }
    }

    &__social {
        @extend %mt-40;

        h5 {
            @extend %mb-10;
        }

        ul {
            @extend %flex, %gap-10, %mp-0, %pl-0;

            li {
                @extend %list-none;

                a {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    @extend %text-center, %b-radius-20, %d-inline-block;
                    border: 1px solid rgba(2, 11, 24, 0.1);
                }
            }
        }
    }
}


.menu-item-has-children {
    >a {
        @extend %rel;

        &::after {
            @extend %abs, %bg-black, %top-50, %w-10;
            transform: translateY(-50%);
            right: 10px;
            height: 2px;
        }

        &::before {
            @extend %abs, %bg-black, %h-10;
            top: 50%;
            transform: translateY(-50%);
            right: 14px;
            width: 2px;
            @include transition($transition2);
        }

        @include breakpoint(xl) {
            &::after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 10px;
                right: 2px;
                height: 2px;
                background: $color3;
            }

            &::before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 2px;
                right: 6px;
                height: 10px;
                background: $color3;
                @include transition($transition2);
            }
        }
    }

    &:hover {
        >a {
            &:before {
                @include breakpoint(xl) {
                    transform: translate(-50%, -50%) rotate(90deg);
                    opacity: 0;
                }
            }

            &::after {
                background: #BE1E2D;
            }
        }
    }

    &.open {
        >a {

            &::after,
            &::before {
                @extend %pcolor;
            }

            &:before {
                @include breakpoint(max-xl) {
                    transform: translate(-50%, -50%) rotate(90deg);
                    opacity: 0;

                }
            }
        }
    }

    &.menu-item-has-children2 {
        >a {
            &::after {
                @extend %bg-white;
            }

            &::before {
                @extend %bg-white;
            }
        }

        &:hover {
            >a {
                &::after {
                    background: #fff;
                }
            }
        }
    }
}