.team {

    @include padding(100px 0);
    @extend %bg-reno-im, %bg-center-im, %bg-cover-im;

    &__wrapper {
        @extend %mt-60;
    }

    &__inner {
        @extend %bg-white, %p-10;
        border-radius: 5px;
        @extend %rel;

        .text {
            @extend %py-25, %px-10, %flex, %justify-between, %align-items-center;

            h6 {
                @extend %mb-3;

                a {
                    @extend %text-none;
                }
            }

            .social {
                .plusicon {
                    @extend %w-45, %h-45, %text-center;
                    background: #1F2A59;
                    border-radius: 5px;
                    line-height: 45px;
                    @extend %pointer;

                    &:hover {
                        background: #2D50CE;
                    }

                    svg {
                        @extend %pointer;
                    }

                    .socialicon {
                        @extend %abs, %flex, %text-center, %opacity-0, %visi-hidden, %transition2;
                        top: 35%;
                        flex-direction: column;
                        gap: 8px 0;
                        right: 100px;

                        a {
                            @extend %w-35, %h-35, %d-inline-block;
                            border-radius: 5px;
                            line-height: 35px;

                            i {
                                @extend %white-color;
                            }

                            &:nth-child(1) {
                                background: $facebook;
                            }

                            &:nth-child(2) {
                                background: $instagram;
                            }

                            &:nth-child(3) {
                                background: $linkedin;
                            }

                            &:nth-child(4) {
                                background: $pinterest;
                            }
                        }

                        &.teamicon1 {
                            &.social1_opened {
                                right: 25px;
                                @extend %opacity-1, %visi-visiable;
                            }

                        }

                        &.teamicon2 {
                            &.social2_opened {
                                right: 25px;
                                @extend %opacity-1, %visi-visiable;
                            }
                        }

                        &.teamicon3 {
                            &.social3_opened {
                                right: 25px;
                                @extend %opacity-1, %visi-visiable;
                            }
                        }

                        &.teamicon4 {
                            &.social4_opened {
                                right: 25px;
                                @extend %opacity-1, %visi-visiable;
                            }
                        }

                        &.teamicon5 {
                            &.social5_opened {
                                right: 25px;
                                @extend %opacity-1, %visi-visiable;
                            }
                        }

                        &.teamicon6 {
                            &.social6_opened {
                                right: 25px;
                                @extend %opacity-1, %visi-visiable;
                            }
                        }

                        &.teamicon7 {
                            &.social7_opened {
                                right: 25px;
                                @extend %opacity-1, %visi-visiable;
                            }
                        }

                        &.teamicon8 {
                            &.social8_opened {
                                right: 25px;
                                @extend %opacity-1, %visi-visiable;
                            }
                        }
                    }

                }
            }
        }

        .thumb {
            @extend %rel;

            &::after {
                @extend %abs, %bottom-0, %left-0, %wd-100, %hd-100;

            }

            img {
                width: 100%;
            }
        }

        &--innerteampage {
            background: #F0F4F7;
        }

        &:hover {
            .text {
                h6 {

                    a {
                        @extend %color2;
                    }
                }
            }
        }
    }
}

.team2 {
    &__inner {
        background: #F0F4F7;
        @extend %rel;
        padding: 50px 30px;
        z-index: 1;

        @include breakpoint(sm) {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .thumb {
            @extend %rel;
            width: 190px;
            height: 190px;
            border-radius: 8px;
            border: 6px solid #FFF;

            img {
                @extend %wd-100;
            }

            &::before {
                @extend %abs, %w-15, %h-15;
                background: #1F2A59;
                right: -12%;
                bottom: -13%;
            }
        }

        .text {
            h6 {
                a {
                    @extend %text-none;
                }
            }

            @extend %mt-35;

            @include breakpoint(sm) {
                width: calc(100% - 220px);
                margin-top: 0;
            }

            .social {
                @extend %mt-20;

                a {
                    @extend %w-35, %h-35, %b-radius-5, %d-inline-block, %white-color, %text-center, %mr-10;
                    line-height: 35px;

                    &:nth-child(1) {
                        background: $facebook;
                    }

                    &:nth-child(2) {
                        background: $instagram;
                    }

                    &:nth-child(3) {
                        background: $linkedin;
                    }

                    &:nth-child(4) {
                        background: $pinterest;
                        @extend %mr-0;
                    }
                }
            }
        }

        &::after {
            @extend %abs, %top-0, %left-0;
            width: 140px;
            height: 140px;
            background: #1F2A59;
            z-index: -1;
        }

        &:hover {
            .text {
                h6 {
                    a {
                        @extend %color2;
                    }
                }
            }

            .thumb {
                &::before {
                    @extend %bg2;
                }
            }

            &::after {
                @extend %bg2;
            }

        }
    }
}


.teamprofile {
    @include padding(120px 0);

    &__img {
        img {
            @extend %wd-100;
        }
    }

    &__allcontent {
        border: 1px solid #F8F5F0;
        @include padding(20px);

        @include breakpoint(xl) {
            @include padding(30px 30px 40px 30px);
        }
    }

    &__personalcontent {
        @include breakpoint(xl) {
            @include margin-left(40px);
        }

        h4 {
            @include font-size(28px);
        }

        span {
            @extend %text-400, %text-capitalize, %mt-5, %d-inline-block;
        }

        .data {
            @include margin-top(30px);

            >ul {
                @extend %flex, %mp-0, %pl-0;
                flex-direction: column;
                gap: 18px;

                li {
                    @extend %flex, %align-items-center, %list-none;

                    @include breakpoint(max-sm) {
                        flex-direction: column;
                        align-items: start;
                    }

                    span {
                        width: 150px;
                        @extend %d-inline-block,
                        %title-color,
                        %text-600;
                    }

                    p {
                        @extend %text-400, %mb-0;
                    }

                    .allicon {
                        @include breakpoint(max-sm) {
                            @include margin-top(10px);
                        }

                        ul {
                            @extend %flex, %mp-0, %gap-15, %pl-0;

                            li {
                                @extend %list-none;

                                a {
                                    @extend %wd-40,
                                    %hd-40;
                                    @include border-radius(20px);
                                    @extend %text-center,
                                    %transition;

                                    i {
                                        @extend %font-size-14, %color2;
                                    }

                                }
                            }
                        }
                    }
                }

            }
        }
    }

    &__experience {
        @include margin-top(30px);

        h5 {
            @extend %mb-15;
        }

        p {
            &:last-child {
                @extend %mb-0;
            }
        }

    }

    &__year {
        @include margin-top(30px);

        h5 {
            @extend %mb-15;
        }

        p {

            &:last-child {
                @extend %mb-0;
            }
        }
    }

    &__Guidelines {
        @include margin-top(30px);

        h5 {
            @extend %mb-15;

        }

        p {
            @extend %mb-0;
        }
    }

}