/* From Uiverse.io by aadium */
.custombtn {
    a {
        @extend %text-none, %white-color, %font2, %d-inline-block, %font-size-16, %b-radius-5, %text-800, %bg2, %border-none;
        @extend %rel;
        padding: 16px 51px;

        &::before {
            @extend %abs;
            height: 0;
            width: 0;
            top: 0;
            left: 0;
            background: linear-gradient(135deg, rgba(255, 255, 255) 0%, rgba(255, 255, 255) 50%, rgba(150, 4, 31, 1) 50%, rgba(191, 4, 38, 1) 60%);

            box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
            transition: 0.3s;
        }

        &:hover::before {
            width: 2.6em;
            height: 2.6em;
            @extend %color1;
        }

        &:hover {
            @extend %black-color;
        }
    }
}


// start play btn 
.playbtn_animation {
    @extend %rel, %flex, %align-items-center, %justify-center;
    z-index: 1;

    a {
        @extend %w-60, %h-60, %bg-white, %text-center;
        border-radius: 30px;
        line-height: 65px;

        i {
            @extend %color2;
            font-size: 25px;
        }
    }

    &::before,
    &::after {
        @extend %abs, %bg-white;
        height: 8em;
        width: 8em;
        border: .5em solid #fff;
        border-radius: 50%;
        animation: playbtn_animation_79178 2.5s linear infinite;
        z-index: -1;
    }

    &::after {
        opacity: 0;
        animation-delay: 1.2s;
    }


    @keyframes playbtn_animation_79178 {
        0% {
            border: .5em solid #fff;
            transform: scale(0);
            opacity: 1;
        }

        100% {
            border: 0 solid #fff;
            transform: scale(1);
            opacity: 0;
        }
    }

}


// button 1

.form_btn {
    @extend %border-none, %font-size-18, %white-color, %text-capitalize, %bg1, %black-color, %text-center, %mt-35, %rel, %b-radius-5;
    @include padding(15px 30px);
    user-select: none;
    transition: all 0.2s ease;
}

.msg {
    @extend %h-0, %w-0, %b-radius-2, %abs, %left-15, %top-25;
}

.form_btn:active {
    transition: all 0.001s ease;
    background-color: #5d9fcd;
    box-shadow: #97989a 0 0 0 0;
    transform: translateX(1px) translateY(1px);
}

.form_btn:hover .msg {
    animation: msgRun 2s forwards;
}

@keyframes msgRun {
    0% {
        border-top: #d6d6d9 0 solid;
        border-bottom: #f2f2f5 0 solid;
        border-left: #f2f2f5 0 solid;
        border-right: #f2f2f5 0 solid;
    }

    20% {
        border-top: #d6d6d9 14px solid;
        border-bottom: #f2f2f5 14px solid;
        border-left: #f2f2f5 20px solid;
        border-right: #f2f2f5 20px solid;
    }

    25% {
        border-top: #d6d6d9 12px solid;
        border-bottom: #f2f2f5 12px solid;
        border-left: #f2f2f5 18px solid;
        border-right: #f2f2f5 18px solid;
    }

    80% {
        border-top: transparent 12px solid;
        border-bottom: transparent 12px solid;
        border-left: transparent 18px solid;
        border-right: transparent 18px solid;
    }

    100% {
        transform: translateX(150px);
        border-top: transparent 12px solid;
        border-bottom: transparent 12px solid;
        border-left: transparent 18px solid;
        border-right: transparent 18px solid;
    }
}