.slick-prev:before,
.slick-next:before {
    font-size: 60px;
    color: #57595C;
    font-weight: 700;
}

.slick-prev {
    left: -80px;

}


.slick-slide {
    margin-right: 10px !important;
    margin-left: 10px !important;
}


.sponsor {
    @extend %bg2;
    @include padding(55px 0);

    .slick-next,
    .slick-prev {
        display: none !important;
    }

    .slick-slide {
        margin-right: 8px !important;
        margin-left: 8px !important;
    }

    &__item {
        text-align: center !important;
    }

    .slick-slide img {
        display: inline-block;
    }
}

// header animation start here
@include breakpoint(xl) {
    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
    }
}

.light-color {
    @extend %rel;
    z-index: 1;

    &::after {
        @extend %abs, %top-0, %left-0, %wd-100, %hd-100;
        background: linear-gradient(0deg, rgba(5, 5, 4, 0.90) 0%, rgba(5, 5, 4, 0.90) 100%);
        z-index: -1;

    }

}

.animation {
    @extend %rel;
    animation: mymove 5s infinite;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 3s;

    @keyframes mymove {
        0% {
            left: 0px;
        }

        50% {
            left: 50px;

            @include breakpoint(sm) {
                left: 100px;
            }
        }

        100% {
            left: 0px;
        }

    }
}


// error start here
.fourzero {
    @include padding(80px 0);

    &__content {
        @include margin-top(40px);

        p {
            max-width: 688px;
            @extend %auto, %mt-20;
        }

        form {
            @include margin(25px auto);
            @extend %p-rel;
            max-width: 380px;

            input {
                @extend %bg2, %b-radius-4, %wd-100, %white-color;
                @include padding(12px);
            }

            ::placeholder {
                @extend %white-color;
            }

            button {
                @extend %abs, %top-47, %right-5, %border-none;
                background: none;

                i {
                    @extend %white-color;
                    right: 20px;
                    transform: translateY(-50%);
                }
            }
        }

        a {
            @extend %white-color, %h-56, %text-capitalize;
            width: 190px;
        }
    }
}


.orginalsearch {
    position: fixed;
    @extend %wd-100, %hd-100, %top-0, %left-0, %opacity-0;
    @include transition(0.8s);
    z-index: 99999999;
    background: rgba(4, 3, 0, 0.88);
    transform: scaleX(0);

    &.active {
        transform: scaleX(1);
        @extend %opacity-1;
        @include transition(0.8s);
    }

    .closer {
        @extend %p-abs;
        top: 10%;
        right: 10%;

        i {
            @extend %white-color, %pointer;
            @include font-size(25px);
        }
    }

    &__area {
        @extend %p-abs, %bg-white, %flex, %align-items-center, %top-50, %left-50;
        @include add-prefix(border-radius, 4px);
        @include transform(translate(-50%, -50%));
        max-width: 500px;

        input {
            width: calc(100% - 60px);
            @extend %border-none;
            background: transparent;
        }

        button {
            @extend %border-none, %bg2;
            @include border-radius(0 4px 4px 0);

            i {
                width: 60px;
                @include padding(20px 0px);
                @extend %white-color;
            }
        }
    }
}

//newslatter 
.newslatter {

    @include breakpoint(max-xxxl) {
        @include margin-bottom(100px);
    }

    @include breakpoint(xxxl) {
        position: absolute;
        left: 50%;
        margin-top: -140px;
        z-index: 99;
        transform: translateX(-50%);
        width: 1320px;
    }


    &__bg {
        @extend %bg2, %py-70, %text-center, %b-radius-10;

        p {
            @extend %white-color, %font-size-16;
        }

        h3 {
            @extend %white-color, %mb-0;
        }
    }

    &__form {
        @extend %text-center, %auto, %mt-30;
        max-width: 550px;

        form {
            @extend %flex;

            input {
                @extend %bg-white;
                width: calc(100% - 145px);
                border-radius: 5px 0 0 5px;
            }

            ::placeholder {
                color: #70717B;
            }

            button {
                width: 145px;
                @extend %bg1, %border-none, %white-color, %font2, %font-size-16, %text-700;
                border-radius: 0 5px 5px 0;
            }
        }
    }
}

// padding block

.padding-block {
    @include padding(120px 0);
}

.video {
    @extend %rel;
    @include margin-bottom(120px);

    img {
        @extend %b-radius-10;
    }

    .playbtn_animation {
        @extend %abs, %left-50, %top-50;
        transform: translate(-50%, -50%);
    }
}



/* From Uiverse.io by vinodjangid07 */
.footerbtn {
    @extend %flex, %align-items-center, %justify-center, %pointer, %rel, %text-none;
    transition-duration: .5s;

}

.tooltip {
    @extend %abs, %opacity-0, %bg2, %white-color, %px-10, %py-5, %b-radius-5, %flex, %align-items-center, %justify-center;
    top: -20px;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
}

.tooltip::before {
    @extend %abs, %w-10, %h-10, %bg2;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -20%;
    transition-duration: .3s;
}

.footerbtn:hover .tooltip {
    top: -45px;
    opacity: 1;
    transition-duration: .3s;
}

.footerbtn:hover {
    background-position: right;
    transition-duration: .5s;
}