.about {
    @include breakpoint(xl) {
        background-image: url('..//..//..//img/home1/about/bgtop.png'),
            url('..//..//..//img/home1/about/bgbottomleft.png'),
            url('..//..//..//img/home1/about/bgbottomright.png');

        background-position: 100% 0%, 0% 100%, 120% 105%;
        background-repeat: no-repeat;
    }

    @include padding(80px 0 110px 0);

    @include breakpoint(xl) {
        @include padding(110px 0);
    }

    @include breakpoint(xxxl) {
        background-position: 100% 0%, 0% 100%, 109% 105%;
    }

    @include breakpoint(xxxxxl) {
        background-position: 100% 0%, 0% 100%, 102% 105%;
    }

    .container {
        >.row {
            @include breakpoint(max-xl) {
                flex-direction: column-reverse;
            }
        }
    }

    position: relative;

    &__content {

        @include breakpoint(xl) {
            padding-left: 25px;
        }

        .section {
            p {
                @extend %mt-25;

                @include breakpoint(max-xl) {
                    max-width: 670px;
                }

            }

            h3 {
                @include breakpoint(sm) {
                    @include breakpoint(max-xl) {
                        max-width: 400px;
                    }
                }
            }
        }
    }

    &__contentlist {
        @extend %mt-25;

        ul {
            @extend %pl-0, %pb-0;

            li {
                @extend %mb-12;
                display: flex;

                .icon {
                    @extend %mr-10;

                    i {
                        @extend %color2;
                    }
                }
            }
        }

    }

    &__allitem {
        @extend %flex, %mt-45, %gap-25;

        @include breakpoint(lg) {
            gap: 40px;
        }

        .item {
            @extend %flex, %gap-20, %align-items-center;

            .icon {
                @extend %w-60, %h-60, %b-radius-30, %text-center;
                background: #FAE2E4;
                line-height: 60px;
            }

            h6 {
                @include breakpoint(xl) {
                    max-width: 150px;
                }

            }

            .custom__btn {
                margin-top: 0 !important;
            }

            .text {
                h6 {
                    @extend %wd-100, %font1, %color2;
                }
            }
        }

        &--aboutitem2 {

            @include breakpoint(md) {
                @include breakpoint(max-lg) {
                    gap: 40px !important;
                }
            }

            @include breakpoint(lg) {
                @include breakpoint(max-xl) {
                    gap: 30px !important;
                }
            }
        }
    }

    &__contactnumber {
        @extend %flex, %mt-45, %gap-25;

        @include breakpoint(max-sm) {
            flex-direction: column;
        }

        @include breakpoint(sm) {
            gap: 45px;
        }

        .item {
            @extend %flex, %gap-20, %align-items-center;

            .icon {
                @extend %w-60, %h-60, %b-radius-30, %text-center;
                background: #FAE2E4;
                line-height: 60px;
            }

            h6 {
                @include breakpoint(sm) {
                    width: 50%;
                }

            }

            .custom__btn {
                margin-top: 0 !important;
            }

            .text {
                h6 {
                    @extend %wd-100, %font1, %color2;
                }
            }
        }
    }


    &__innerimg {
        @extend %rel, %mr-0;

        @include breakpoint(xl) {
            margin-right: 30px;
        }

        &--innerimg2 {
            @include breakpoint(lg) {
                right: 1%;
            }

            @include breakpoint(xl) {
                right: -5%;
            }

            >img {
                @extend %b-radius-15, %d-none;

                @include breakpoint(lg) {
                    display: block
                }
            }

            .itme2 {
                @extend %text-center;

                @include breakpoint(lg) {
                    position: absolute;
                    top: 45%;
                    left: -2%;
                }

                img {
                    @extend %b-radius-10, %wd-100;
                    border: 4px solid #ffff;
                }
            }
        }
    }

    &--aboutpage {
        @include padding-bottom(120px);

        @include breakpoint(xl) {
            background-image: url('..//..//..//img/home1/about/bgtop.png'),
                url('..//..//..//img/home1/about/bgbottomleft.png'),
                url('..//..//..//img/home1/about/bottomright.png');
            background-position: 100% 0%, 0% 100%, 99% 100%;

        }


        @include breakpoint(lg) {
            @include padding-bottom(180px);
        }


        .container {
            >.row {
                @include breakpoint(max-xl) {
                    flex-direction: row;
                }
            }
        }
    }
}