.animals {

    @include breakpoint(xxxl) {
        position: relative;
        @include margin-bottom(1150px);
    }

    &__inner {
        @extend %bg-white, %p-10, %b-radius-10;

        .thumb {
            @extend %hidden;

            img {
                @extend %wd-100;
            }
        }

        .text {
            padding: 20px 15px;

            h6 {
                @extend %mb-10, %font2;
            }
        }

        &:hover {
            .text {
                h6 {
                    @extend %color2;
                }
            }

            .thumb {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    .section__wrapper {
        @extend %mt-60;

        @include breakpoint(xxxl) {
            position: absolute;
            max-width: 1320px;
        }
    }

}