.contact {
    &__details {
        ul {
            @extend %pl-0, %mt-25;

            li {
                @extend %list-none, %flex, %gap-15, %mb-18;

                .icon {
                    @extend %w-35, %h-35, %bg2, %text-center, %b-radius-17;
                    line-height: 35px;
                }

                .text {
                    width: calc(100% - 50px);

                    span {
                        @extend %d-inline-block;
                        line-height: 24px;

                        @include breakpoint(sm) {
                            width: 195px;
                        }
                    }
                }

                &:last-child {
                    @extend %mb-0;
                }
            }
        }
    }
}


.book {
    @extend %bg-reno-im, %bg-center-im, %bg-cover-im;

    &__form {
        @extend %bg2, %b-radius-10;
        padding: 20px 10px;

        @include breakpoint(sm) {
            padding: 40px 30px;
        }

        h3 {
            @extend %mb-40, %white-color;

            @include breakpoint(xl) {
                width: 60%;
            }
        }

        select,
        input {
            background: #F2F6F9;
            @extend %wd-100, %py-14, %b-radius-5, %px-15, %color3;
        }

        button {
            @extend %white-color, %text-500;
        }
    }
}

.map {
    iframe {
        @extend %wd-100;
        min-height: 600px;
    }
}