.contact {
    &__inner {
        @extend %text-center, %b-radius-5, %px-15, %py-50;
        background: #F8F5F0;

        @include breakpoint(lg) {
            padding-inline: 30px;
        }

        .text {
            @extend %mt-20;

            p {
                max-width: 300px;
                margin: auto;

                span {
                    @extend %color2, %text-500, %font-size-16;
                }
            }

        }

    }

    &__wrapper {
        @extend %mt-50;
    }
}

.book {
    @extend %bg-reno-im, %bg-center-im, %bg-cover-im;

    &__form {
        @extend %bg2, %b-radius-10;
        padding: 30px 10px;

        @include breakpoint(sm) {
            padding: 40px 30px;
        }

        h3 {
            @extend %mb-30, %white-color;

            @include breakpoint(sm) {
                margin-bottom: 40px;
            }

            @include breakpoint(xl) {
                width: 60%;
            }
        }

        select,
        input {
            background: #F2F6F9;
            @extend %wd-100, %py-14, %b-radius-5, %px-15, %color3;
        }

        button {
            @extend %white-color, %text-500, %font2;
            width: 230px;
            height: 56px;
        }
    }
}

.map {

    @include breakpoint(xxxl) {
        @include margin-bottom(250px);
    }

    iframe {
        @extend %wd-100;
        min-height: 600px;
    }
}