.feture {
    @include margin-top(120px);

    @include breakpoint(lg) {
        position: relative;
        margin-top: -100px;
    }

    @include breakpoint(xl) {
        margin-top: -130px;
    }


    @include breakpoint(xxxl) {

        margin-top: -160px;
    }

    &__item {
        @extend %rel, %hidden, %b-radius-10;

        img {
            @extend %wd-100;
        }

        .title {
            @extend %abs, %bottom-10, %left-50;
            transform: translateX(-50%);
            z-index: 1;

            h5 {
                @extend %white-color;


            }
        }

        &:hover {
            .title {
                h5 {
                    @extend %color2;
                }
            }

            img {
                transform: scale(1.1);
            }
        }

    }

    &__section {

        h3 {

            @include breakpoint(lg) {
                @include breakpoint(max-xl) {
                    max-width: 240px;
                    font-size: 28px;
                }
            }

            @include breakpoint(xl) {
                @include breakpoint(max-xxxl) {
                    max-width: 250px;
                    font-size: 28px;
                }
            }


            @include breakpoint(max-lg) {
                margin-bottom: 30px;
            }
        }
    }

    &__wrapper {
        margin-left: -10px;
        margin-right: -10px;
    }


    .slick-prev,
    .slick-next {
        display: none !important;

        @include breakpoint(xl) {
            display: block !important;
            top: 100px;
        }

        @include breakpoint(xxxl) {
            top: 120px;
        }
    }

    .slick-prev {
        @include breakpoint(xl) {
            left: -368px !important;
        }

        @include breakpoint(xxxl) {
            left: -432px !important;
        }

    }

    .slick-next {
        @include breakpoint(xl) {
            left: -292px !important;
        }

        @include breakpoint(xxxl) {
            left: -345px !important;
        }

    }

    .slick-prev::before,
    .slick-next::before {
        @extend %color2;

        @include breakpoint(xl) {
            font-size: 70px;
        }
    }
}