.testmonial {
    @extend %bg-reno, %bg-center, %bg-cover, %rel;
    @include padding(120px 0);

    @include breakpoint(xxxl) {
        @include margin-bottom(260px);
        @include padding(100px 0 145px 0);
    }

    z-index: 1;

    &__inner {
        @extend %bg-white, %b-radius-10;
        @include padding(30px 25px);

        ul {
            @extend %mp-0, %flex, %pl-0, %mb-3;
            gap: 4px;

            li {
                @extend %list-none;

                i {
                    @include font-size(12px);
                    @extend %color2;

                }
            }
        }

        .profile {
            @extend %align-items-center, %gap-15;
            @include margin-top(20px);
            display: flex;

            .thumb {
                @extend %w-45, %h-45, %hidden, %b-radius-23;

                img {
                    @extend %wd-100;
                }
            }

            .name {
                h6 {
                    @extend %mb-0;
                }

                p {
                    @extend %mt-0, %color3;
                }

            }
        }

        &:hover {
            .profile {
                .name {
                    h6 {
                        @extend %color2;
                    }

                }
            }
        }
    }

    &__wrapper {
        margin-top: 55px;

        @include breakpoint(xxxl) {
            position: absolute;
            max-width: 1320px;
            z-index: -1;
        }
    }
}