.testmonial {
    @extend %bg-reno, %bg-center, %bg-cover, %rel;
    @include padding(120px 0);

    @include breakpoint(xxxl) {
        @include margin-bottom(260px);
        @include padding(100px 0 145px 0);
    }

    z-index: 1;

    &__inner {
        @extend %bg-white, %b-radius-10;
        @include padding(30px 25px);

        ul {
            @extend %mp-0, %flex, %pl-0, %mb-3;
            gap: 4px;

            li {
                @extend %list-none;

                i {
                    @include font-size(12px);
                    @extend %color2;

                }
            }
        }

        .profile {
            @extend %align-items-center, %gap-15;
            @include margin-top(20px);
            display: flex;

            .thumb {
                @extend %w-45, %h-45, %hidden, %b-radius-23;

                img {
                    @extend %wd-100;
                }
            }

            .name {
                h6 {
                    @extend %mb-3;
                    font-style: normal;
                }

                p {
                    @extend %mt-0, %color3;
                }

            }
        }

        &:hover {
            .profile {
                .name {
                    h6 {
                        @extend %color2;
                    }

                }
            }
        }
    }

    &__wrapper {
        margin-top: 50px;

        @include breakpoint(xxxl) {
            position: absolute;
            max-width: 1320px;
        }
    }


    .slick-prev,
    .slick-next {
        display: none !important;
        top: -120px;
        z-index: 99999;

        @include breakpoint(lg) {
            display: block !important;
        }
    }

    .slick-prev {
        @include breakpoint(lg) {
            left: 755px !important;
        }

        @include breakpoint(xl) {
            left: 940px !important;
        }

        @include breakpoint(xxxl) {
            left: 1140px !important;
        }

    }

    .slick-next {
        @include breakpoint(lg) {
            left: 850px !important;
        }

        @include breakpoint(xl) {
            left: 1020px !important;
        }

        @include breakpoint(xxxl) {
            left: 1230px !important;
        }
    }

    .slick-prev::before,
    .slick-next::before {
        @extend %color2;

        @include breakpoint(lg) {
            font-size: 70px;
        }
    }

}